table {
  border: 1px solid #ddd;
  border-spacing: 40px;
}

td {
  width: 70px;
  height: 70px;
  border: 2px solid black;
    margin: 5px;
    border-radius: 50%;
}

.hole {
  background-color: #808080;
  background-image: url(../img/goblin.png); /* здесь свой адрес крота */
  background-position: center;
  background-size: contain;
  cursor: url(../img/hammer.png), pointer;
}
